h1{
    background-color: bisque;
    color: black
}

.bem-vindo{
    color: burlywood;
}

.frase{
    background-color: rgb(26, 214, 158);
    padding: 5px;
    border: 5px solid black;
    margin: 5px;
}

a{
    color: black;
    background-color: blanchedalmond;
    padding: 5px;
}

.redes-sociais{
    color: burlywood;
}